@font-face {
	font-family: ecb;
	src: url("EuclidCircularA-Bold.ttf");
}

@font-face {
	font-family: ecm;
	src: url("EuclidCircularA-Medium.ttf");
}

html {
	scroll-behavior: smooth;
}

#landing {
	margin-top: 10%;
}

body {
	background-color: #111111 !important;
	overflow-x: hidden;
}

h1 {
	font-family: ecb;
	color: white !important;
	font-size: 300% !important;
}

h3,
h2,
h4 {
	font-family: ecb;
	color: white !important;
}

h5 {
	font-family: ecm;
	color: white !important;
	line-height: 30px !important;
}

h4 {
	font-family: ecm;
	color: white !important;
}

p {
	font-family: ecm;
	color: white !important;
}

.title {
	margin: 0 0 20% 0;
	padding-top: 20%;
	height: 100%;
	width: auto;
	text-align: center;
	background: -webkit-linear-gradient(#111111, #191919);
}

.edu-data {
	margin: 0 0 20% 0;
	padding-top: 5%;
	height: 100%;
	width: auto;
}

.fb-icon {
	width: 100%;
	padding-right: 50%;
}

.icon-nav {
	text-align: right;
	margin-left: 20%;
}

.navbar {
	padding: 1.5% 3% 1.5% 3% !important;
	background-color: #111111;
}

.nav-link {
	font-family: ecb;
	color: white !important;
	font-size: 120% !important;
}

.nav-link:hover {
	color: #878787 !important;
}

.links {
	padding: 2% 10% 0 0 !important;
}

.links2 {
	padding: 0 10% 0 0 !important;
}

.socmed {
	padding-left: 0 !important;
	margin: 0 !important;
	width: 5%;
}

.img-cont {
	width: 100%;
	height: auto;
	text-align: center;
	border-radius: 20px;
}

#Education {
	margin-bottom: 20%;
}

.wd-img {
	width: 70%;
	height: auto;
	margin-top: -10%;
	position: relative;
}

.wd-img2 {
	width: 70%;
	height: auto;
	margin-top: 150%;
	position: relative;
}

.about-div {
	background-color: #191919;
	border-radius: 20px;
	margin: 5% 5% !important;
	text-align: center;
	height: 80%;
	line-height: 30px;
}

.org-div {
	background-color: #191919;
	border-radius: 20px;
	margin: 5% 5% !important;
	text-align: center;
	height: 100%;
	line-height: 30px;
	padding: 5%;
}

.footer-text {
	padding: 15% 15%;
}

.gradient {
	background: -webkit-linear-gradient(45deg, #88ccf3, #25dd8d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.talk {
	color: #88ccf3;
}

.talk:hover {
	color: #25dd8d;
}

.talk:active {
	color: #88ccf3;
}

.award-p {
	color: #111111 !important;
	margin: 0;
	font-family: ecb;
}

.award {
	background-color: white;
	width: 30%;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	padding: 2% 5%;
	margin: 5% 0 5% 10%;
}

.shape {
	width: 5%;
	height: 100%;
	background: -webkit-linear-gradient(45deg, #88ccf3, #25dd8d);
	position: absolute;
	margin-top: -10%;
	margin-left: 9.5%;
	z-index: -1;
}

.subtext {
	margin-left: 10%;
}

i {
	font-size: 15px;
	margin-right: 5%;
}

.iacademy {
	margin-top: 35%;
	width: auto;
	height: auto;
}

.org-data p {
	margin: 10px 0;
}

.org-data {
	text-align: left;
	width: 50%;
}

td {
	text-align: center;
}

table {
	width: 80% !important;
}

.shape2 {
	width: 40%;
	height: 30%;
	background: -webkit-linear-gradient(45deg, #88ccf3, #25dd8d);
	position: absolute;
	margin-top: -10%;
	z-index: -1;
	border-radius: 20px;
}

.logo-cb {
	width: 50px;
}

.active {
	color: #88ccf3 !important;
}
